@media screen and (min-width: 1440px) {
    .container {
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 0px;
        background-color: black;
    }

    .image-content {
        /* background-color: yellow; */
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-content {
        /* background-color: blue; */
        min-width: 50%;
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-title {
        display: flex;
        text-align: center;
        width: 70%;
        margin-bottom: 20px;
        /* background-color: red; */
    }

    .sub-text {
        width: 70%;
    }

    .text-title h1 {
        /* background-color: yellow; */
        color: white;
        font-size: 55px;
        font-family: Arial, Helvetica, sans-serif;

    }

    .sub-text p {
        color: white;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }

}

@media screen and (min-width: 1281px) and (max-width: 1439px) {
    .container {
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 0px;
        background-color: black;
    }

    .text-content {
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-title {
        width: 90%;
        margin-bottom: 25px;
    }

    .sub-text {
        width: 90%;
    }

    .text-title h1 {
        /* background-color: yellow; */
        color: white;
        font-size: 55px;
        font-family: Arial, Helvetica, sans-serif;

    }

    .sub-text p {
        color: white;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 35px;
    }

    .image-content {
        /* background-color: yellow; */
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) and (orientation: landscape) {
    .container {
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 0px;
        background-color: black;
    }

    .text-content {
        /* background-color: yellow; */
        min-width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-title {
        width: 100%;
        margin-bottom: 20px;
    }

    .sub-text {
        width: 100%;
    }

    .text-title h1 {
        /* background-color: yellow; */
        color: white;
        font-size: 70px;
        font-family: Arial, Helvetica, sans-serif;

    }

    .sub-text p {
        color: white;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 40px;
    }

    .image-content {
        /* background-color: yellow; */
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 100%;

        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 0px;
        background-color: black;
    }

    .text-content {
        /* background-color: yellow; */
        margin-bottom: 40px;
        /* background-color: blue; */
        min-width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-title {
        width: 100%;
        margin-bottom: 20px;
    }

    .sub-text {
        width: 90%;
    }

    .text-title h1 {
        /* background-color: yellow; */
        color: white;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;

    }

    .sub-text p {
        color: white;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 40px;
        text-align: center;
    }

    .image-content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-content img {
        object-fit: cover;
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 0px;
        background-color: black;
    }

    .text-content {
        /* background-color: yellow; */
        margin-bottom: 40px;
        /* background-color: blue; */
        min-width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-title {
        width: 100%;
        margin-bottom: 20px;
    }

    .sub-text {
        width: 90%;
    }

    .text-title h1 {
        /* background-color: yellow; */
        color: white;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;

    }

    .sub-text p {
        color: white;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 40px;
        text-align: center;
    }

    .image-content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-content img {
        object-fit: cover;
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 80px 0px 0px 0px;
        background-color: black;
    }

    .text-content {
        margin-bottom: 40px;
        min-width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-title {
        width: 100%;
        margin-bottom: 20px;
    }

    .sub-text {
        width: 90%;
    }

    .sub-text p {
        color: white;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 40px;
        text-align: center;
    }

    .text-title h1 {
        color: white;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .image-content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-content img {
        object-fit: cover;
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 0px;
        background-color: black;
    }

    .text-content {
        margin-bottom: 40px;
        min-width: 100%;
        /* height: 50%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-title {
        width: 100%;
        margin-bottom: 20px;
    }

    .sub-text {
        width: 100%;
    }

    .sub-text p {
        color: white;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 30px;
        text-align: center;
    }

    .text-title h1 {
        color: white;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .image-content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-content img {
        object-fit: cover;
        width: 100%;
    }
}